---
const today = new Date();
---

<footer>
  <div class="footer-content">
    <p>&copy; {today.getFullYear()} Петриківський розпис. Всі права захищені.</p>
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em;
    background: white;
    border-top: 1px solid rgb(var(--gray-light));
    color: rgb(var(--gray));
    text-align: center;
  }
  .footer-content p {
    margin: 0;
    font-size: 0.9em;
  }
</style>